@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ops... Que infelicidade</title>
</head>
<body>
    @Html.Raw(Session["alert"])
    @{ Session.Remove("alert"); }
</body>
</html>