<fieldset>
    @for (int i = 0; i < 5; i++)
    {
        <div class="col-lg-3 col-md-3 listagem-block">
            <div class="panel panel-image">
                <div class="panel panel-default border-none">
                    <a class="btn btn-block btn-lg btn-default panel-heading" href="#modal" data-toggle="modal">
                        <div class="btn-flat btn-flat-no-radius">
                            <h4>@@{ Nome da Mesa }</h4>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="btn btn-begin btn-xs btn-flat-no-radius col-lg-3 col-md-3" href="#modal" data-toggle="modal"><h6>Entrar</h6></a>
                    <a class="btn btn-success btn-xs btn-flat-no-radius col-lg-3 col-md-3" href="#modal" data-toggle="modal"><h6>Ver</h6></a>
                    <a class="btn btn-default btn-xs btn-flat-no-radius col-lg-3 col-md-3" href="#modal" data-toggle="modal"><h6>Chamar</h6></a>
                    <a class="btn btn-danger btn-xs btn-flat-no-radius col-lg-3 col-md-3" href="#modal" data-toggle="modal"><h6>Excluir</h6></a>
                </div>
            </div>
        </div>
    }
    <div class="col-lg-3 col-md-3 listagem-block">
        <div class="panel panel-default border-none">
            <a class="btn btn-block btn-lg btn-default panel-heading" href="#modal" data-toggle="modal">
                <div class="btn-flat btn-flat-no-radius">
                    <h4>NOVA MESA</h4>
                </div>
            </a>
        </div>
    </div>
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div id="frame" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title">Criar Mesa</h5>
                </div>
                <div class="modal-body">
                    @@{ Formulário }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Criar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</fieldset>