@{
    ViewBag.Title = "Nova Ficha";
}

<div class="panel panel-head">
    <h2>Nova Ficha</h2>
</div>
<div class="panel panel-body">
    <div class="panel panel-default col-md-12">
        @using (Html.BeginForm())
        {
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="col-md-4">
                        <h4>Testes Físicos</h4>
                    </div>
                    <div class="col-md-8">
                        <div>
                            <h5>Testes Místicos</h5>
                        </div>
                        <div>
                            <h4>Capacidades</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <h5>Dados do Personagem</h5>
                    </div>
                    <div>
                        <h4>Perícias</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4>Propriedades / Riquezas</h4>
                </div>
                <div class="col-md-6">
                    <h4>Desvantagens</h4>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4>Itens / Armas</h4>
                </div>
                <div class="col-md-6">
                    <h5>Definição de Armaduras</h5>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-6">
                    <h4>Experiências</h4>
                </div>
            </div>
        }
    </div>
</div>